BasedOnStyle: Google
Language: Cpp
IndentWidth: 4
TabWidth: 4
# UseTab: ForContinuationAndIndentation
IndentAccessModifiers: false
AccessModifierOffset: -4
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Never
# AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
